<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="${@appConfig.siteName}"></title>

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jdenticon -->
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
            crossorigin="anonymous">
    </script>

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- 테일윈드 -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col pt-[35px]">

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css"/>

<!-- common.css -->
<link href="/resource/common/common.css" rel="stylesheet" type="text/css"/>

<header class="fixed z-40 top-0 left-0 w-full bg-white border-b-[1px] border-b-[color:#efefef] h-[35px]">
    <div class="container mx-auto h-full flex items-center px-2">
        <a href="/" class="logo flex font-bold mr-auto">
            <span class="text-[#1E9EFE]">M</span>
            <span class="ml-[2px] hidden sm:block">UT</span>
        </a>

        <div class="flex gap-4">
            <a href="/member/login" class="inline-flex" sec:authorize="isAnonymous()">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span class="ml-[2px] hidden sm:block">
                    로그인
                </span>
            </a>
            <a href="/member/join" class="inline-flex" sec:authorize="isAnonymous()">
                <i class="fa-solid fa-user-plus"></i>
                <span class="ml-[2px] hidden sm:block">
                    회원가입
                </span>
            </a>
            <a href="javascript: document.logoutForm.submit();" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="ml-[2px] hidden sm:block">
                    로그아웃
                </span>
            </a>
            <form name="logoutForm" th:action="@{/member/logout}" method="post" hidden></form>
            <a href="/member/profile" class="inline-flex" sec:authorize="isAuthenticated()">
                <i class="fa-solid fa-user"></i>
                <span class="ml-[2px] hidden sm:block">
                    프로파일
                </span>
            </a>
        </div>
    </div>
</header>

<div class="flex-grow flex flex-col">
    <main layout:fragment="main" class="flex-grow flex flex-col"></main>
</div>

<footer class="border-t-[1px] border-t-[color:#efefef] py-3 text-[color:#777] text-[14px] mt-5">
    <div class="container mx-auto flex flex-col gap-1 px-2">
        <div>
            <a href="/">
                <span>사업자정보확인</span>
                <span class="inline-block scale-[.7]">▼</span>
            </a>
        </div>

        <div class="flex gap-3">
            <a href="/">이용약관</a>
            <a href="/">개인정보 처리방침</a>
            <a href="/">청소년보호정책</a>
        </div>

        <div>
            <a href="/">©MUT Corp.</a>
        </div>
    </div>
</footer>

<script src="/resource/common/common.js"></script>

<script th:inline="javascript">
    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        successModal(params.msg);
    }

    if (params.errorMsg) {
        errorModal(params.errorMsg);
    }
</script>

</body>
</html>
93
src/main/resources/templates/member/join.html
@@ -0,0 +1,93 @@
<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">회원가입</h1>

            <script>
                let MemberJoin__submitDone = false;

                function MemberJoin__submit(form) {
                    if (MemberJoin__submitDone) {
                        return;
                    }

                    form.username.value = form.username.value.trim();

                    if (form.username.value.length == 0) {
                        warningModal("로그인아이디를 입력해주세요.");
                        form.username.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("로그인비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.email.value = form.email.value.trim();

                    if (form.email.value.length == 0) {
                        warningModal("이메일을 입력해주세요.");
                        form.email.focus();

                        return;
                    }

                    form.submit();
                    MemberJoin__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="MemberJoin__submit(this); return false;">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호</span>
                    </label>
                    <input type="password" name="password"
                           placeholder="비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" name="email" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="회원가입">
                    <a href="/member/login" class="btn btn-secondary btn-outline">로그인</a>
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>